<div class="murica" layout="column">
	<div class="wallpaper layer alt6"></div>
	<div class="shadow" style="z-index: 2;left: 0; height: 15vh; background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('/assets/img/backgrounds/murican_flag.jpg');
		position: absolute;background-size: 100%; background-repeat: no-repeat; display:table; vertical-align:middle; text-align:center; top: 0; width: 100%;">
		<div style="display:table-cell; vertical-align:middle;">
			<h3 style="font-weight: bold;">{{ ctrl.title }}</h3>
		</div>
	</div>
	<div ng-include class="footer-wrapper" src="'assets/html/partials/footer.html'"></div>
</div>