<div class="murica" layout="column">
	<div class="wallpaper layer alt6"></div>
	<div class="header shadow" layout="column">
		<div style="width: 100%;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Default Dynamic Ad -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-1665219889928900"
				 data-ad-slot="2113200752"
				 data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<div style="height: 50px;">
			<h3 style="font-weight: bold; line-height:50px;">{{ ctrl.title }}</h3>
		</div>
	</div>
	<div ng-include class="footer-wrapper" src="'assets/html/partials/footer.html'"></div>
</div>