<footer style="width: 100%; height: 50px; padding: 0 30px; background:white; color: black;" layout="row" layout-align="space-between center">
    <div>&copy; 2016 <a href="mailto:admin+support@hopshares.com">HopShares</a></div>
    <div hide show-gt-sm>Made in L.A.</div>
    <div><a class="legal" href="/legal">Privacy / Terms</a></div>
    <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="textblastio" data-count="none">Tweet</a>
        <div class="fb-share-button" data-layout="button"></div>
    </div>
</footer>