<md-card style="height: 350px; width: 380px;" class="center-horizontal">
	<h4 class="md-margin" style="text-align:center;"> {{ story.urlTitle }} </h4>
	<ul rn-carousel rn-carousel-buffered rn-carousel-pause-on-hover rn-carousel-auto-slide class="image" style="width:100%; height:300px;">
		<li ng-repeat="img in story.imgs">
			<div class="layer" style="height:100%; align-items: center; display: flex;"><img imageloaded ng-src="{{ img.src }}"
				style="height: {{ img.nheight }}; width : {{ img.nwidth }}; margin: 0 auto;"></div>
		</li>
	</ul>
	<a target="_blank" href="{{ story.url }}" class="md-margin" style="word-wrap:break-word;">{{ story.url }}</a>
</md-card>